ul li{
    display: inline-block;
    padding-left: 1rem;
    padding-right: 1rem;
}

.lista{
    margin-top: 2rem;
}

.item-lista{
    margin-right: .5rem;
}

.titulo-viagem{
    font-weight: bold;
    padding-top: .3rem;
}

.iconezinho{
    margin-top: .5rem;
    margin-left: .3rem;
    margin-right: .3rem;
    width: 15%;
}

.preco{
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.next{
    margin-bottom: 3rem;
    margin-top: -11rem;
    font-size: 20rem;
    margin-left: 17rem;
    background-color: var(--input-color);
}

.imgsvg-pass{
    width: 2rem;
}

.botao-pass{
    background-color: var(--input-color);
    border: none;
}


.notificacao{
    margin-top: 3rem;
    margin-bottom: 2rem;

    font-size: 1.5rem;
}

.input-padrao{  
	display: block; /*bota tudo embaixo do outro*/
	padding: 10px 25px; /*aumenta o tamanho da caixinha*/
	width: 40%; /*aumenta a largura da caixinha*/
    margin-top: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: var(--input-color);
    border-color: #000000;
    text-align: center;
    margin-bottom: 3rem;
}