
.faca-login{
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;

}

body.dark{
	background-color: #000401;
	color: #e5e8e8;
}

.input-padrao{  
	display: block; /*bota tudo embaixo do outro*/
	margin: 0 0 15px; /*afasta a label da caixinha de resposta*/
	padding: 10px 25px; /*aumenta o tamanho da caixinha*/
	width: 50%; /*aumenta a largura da caixinha*/
    margin-left: 36px;
    margin-top: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: var(--input-color);
    border-color: #000000;
    text-align: center;
}
