
.notificacao{
    margin-top: 3rem;
    margin-bottom: 2rem;

    font-size: 1.5rem;
}

article{
    background: #fefefe;
    padding: 2rem;
    border-radius: 30px;
    display: inline-block;
    margin-bottom: 4rem;
    box-shadow: 3px 3px 3px #000000;
}

ul li{
    display: inline-block;
}

.titulo-not{
    font-weight: bold;
    text-align: center;
}

hr{
    width: 100px;
    margin-bottom: 1rem;
}

.img{
    margin-left: 2.5rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.titulo-lembrete{
    font-weight: bold;
    margin-left: 2rem;
}

.input-lembrete{  
	display: block; /*bota tudo embaixo do outro*/
	padding: 10px 25px; /*aumenta o tamanho da caixinha*/
	width: 60%; /*aumenta a largura da caixinha*/
    margin-top: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #fefefe;
    border-color: #000000;
    text-align: center;
    margin-top: 0rem;
    margin-bottom: 3rem;
    margin-left: 2rem;
}