
.notificacao{
    margin-top: 3rem;
    margin-bottom: 2rem;

    font-size: 1.5rem;
}

article{
    background: #fefefe;
    padding: 2rem;
    border-radius: 30px;
    display: inline-block;
    margin-bottom: 4rem;
    box-shadow: 3px 3px 3px #000000;
}

ul{
    display: inline-block;
}

.titulo-not{
    font-weight: bold;
    text-align: center;
}

hr{
    width: 100px;
    margin-bottom: 1rem;
}

.img{
    margin-left: 2.5rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.titulo-lembrete{
    font-weight: bold;
    margin-left: 2rem;
}

.input-lembrete{  
	display: block; /*bota tudo embaixo do outro*/
	padding: 10px 25px; /*aumenta o tamanho da caixinha*/
	width: 60%; /*aumenta a largura da caixinha*/
    margin-top: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #fefefe;
    border-color: #000000;
    text-align: center;
    margin-top: 0rem;
    margin-bottom: 3rem;
    margin-left: 2rem;
}


.check-button, .deleta-button{
    margin-top: 1rem;
    margin-bottom: 0rem;
    margin-left: 0px;
    width: 47%;
    background-color: var(--btn-color);
    padding: 9px 9px;
    align-items: center;
    color: #fefefe;
    border: none;
    font-family: 'Montserrat', sans-serif;
    margin-left: 4px;
}

.lista{
    align-items: center;
    margin-left: 3.3rem;
    margin-right: -7rem;
}

.list{
    text-align: center;
    margin-top: 5rem;
}

.task.done{
    text-decoration: line-through;
}