.imgg{
    padding-bottom: 2rem;
    padding-top: 2rem;
}
.input-padrao{  
	display: block; /*bota tudo embaixo do outro*/
	padding: 10px 25px; /*aumenta o tamanho da caixinha*/
	width: 40%; /*aumenta a largura da caixinha*/
    margin-top: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: var(--input-color);
    border-color: #000000;
    text-align: center;
    margin-top: 0rem;
    margin-bottom: 3rem;
}